header {
  background-color: aquamarine;
  color: teal;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 50px;
  font-family: "Permanent Marker", cursive;
  align-items: center;
}

body {
  background-color: violet;
  margin: 0px;
}

header button {
  background-color: teal;
  border: none;
  border-radius: 10px;
  color: white;
  height: 30px;
  font-size: 14px;
  align-self: center;
  font-family: "Permanent Marker", cursive;
}

#gifs {
  /* text-align: center; */
  /* max-height: 80vh; */
  display: flex;
  flex-flow: column nowrap;
  /* flex-wrap: nowrap; */
  justify-content:space-between;
  align-items:center;
  gap: 1px;
}

#giph1, #giph2, #giph3{
  min-height: 200px;
}

form {
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#guess-box {
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
}

#enter-guess {
  height: 25px;
  width: 150;
  border-radius: 10px;
  border: none;
  font-family: "Permanent Marker", cursive;
}

@media only screen and (min-width: 400px) {
  #gifs {
  }
}
